<%= form_for @story, :url => "/story" do |f| %>
<table>
  <tr>
    <td>
      <%= f.label "Title:" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_field :title %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "Moral:" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_field :moral %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "Story:" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_area :story, :size => "60x20" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "Age group:" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= select(:story, :age, Story::AGE_GROUPS, {}) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "Topic:" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_field :topic %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "Educational Technique: (IE for teaching 'Lecture Based' would be one characteristic)" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= select(:story, :educational_technique, Story::TECHNIQUES, {}) %>
    </td>
  </tr>
  <%= f.text_field :parent_story, :value => params[:from], :hidden => true %>
  <%= f.text_field :user_id, :value => current_user.id, :hidden => true %>
  <tr>
    <td>
      <%= f.submit "Create" %>
    </td>
  </tr>
</table>
  
<% end %>
