<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function()
    {
      replyToComment = function(comment_id, story_id, reply_id)
      {
        if ($('#submit_comment_button').attr("value") == "Comment")
        {
          $('.hidden_table_field').attr("value", "comments");
          $('.hidden_id_field').attr("value", comment_id);
          $('#alternate_cancel_reply_link').attr("href",
                                                "javascript:replyToComment(" + comment_id + "," + story_id +")");
          $('#alternate_cancel_reply_link').removeClass("hide");
          if (reply_id >= 0)
          {
            $('div.reply_link a.reply_to_' + reply_id).html("Cancel Reply");
          }
          else
          {
            $('div.reply_link a.reply_to_' + comment_id).html("Cancel Reply");
          }
          $('#submit_comment_button').attr("value", "Reply");
        }
        else
        {
          $('.hidden_table_field').attr("value", "stories");
          $('.hidden_id_field').attr("value", story_id);
          $('#submit_comment_button').attr("value", "Comment");
          $('#alternate_cancel_reply_link').addClass("hide");
          if (reply_id >= 0)
          {
            $('div.reply_link a.reply_to_' + reply_id).html("Reply");
          }
          else
          {
            $('div.reply_link a.reply_to_' + comment_id).html("Reply");
          }
        }
      }
    });
  </script>
<% end %>

<div id="story_show_information" class="span6" style="width: span2">
  <br/>
  <div>
    <div id="story_show_title">
      <h3><%= @story.title %></h3>
    </div>
    <% if signed_in? %>
      <div>
        <% if @user.is_following(@story) %>
          <%= link_to "Unfollow", "/story/follow?story=" + @story.id.to_s, :class => "btn-mini btn btn-danger", :method => :POST %>
        <% else %>
          <%= link_to "Follow", "/story/follow?story=" + @story.id.to_s, :class => "btn-mini btn btn-success", :method => :POST%>
        <% end %>
      </div>
    <% end %>
    <div id="story_show_author">
      Author: 
      <% if @story.author.show_name %>
        <%= link_to @story.author.name, user_path(@story.author) %>
      <% else %>
        <%= link_to @story.author.username, user_path(@story.author) %>
      <% end %>
    </div>
    <div id="story_show_details" class="span6">
      <% if !@story.age.nil? %>
        <div id="story_show_age">
          Age: <%= @story.age %>
        </div>
      <% end %>
      <% if !@story.topic.nil? %>
        <div id="story_show_topic">
          Topic: <%= @story.topic %>
        </div>
      <% end %>
      <% if !@story.educational_technique.nil? %>
        <div id="story_show_technique">
          Educational technique: <%= @story.educational_technique %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="story_show_content" class="span6 border1">
    <%= @story.story %>
  </div>
  <div id="story_show_like_button">
    <% if signed_in? %>
      <% if @story.liked_by(@user) %>
        <%= link_to "Like", story_like_path + "?story=" + @story.id.to_s, :class => "btn btn-success", :method => :POST %>
      <% else %>
        <%= link_to "Like", story_like_path + "?story=" + @story.id.to_s, :class => "btn", :method => :POST %>
      <% end %>
    <% else %>
      <p class="btn" disabled="true">Like</p>
    <% end %>
    <div class="right">
      <% if signed_in? && @story.liked_by(@user) %>
        <% if @story.likes > 1 %>
          You, and <%= (@story.likes - 1).to_s %> other people like this story.
        <% else %>
          You like this story.
        <% end %>
      <% else %>
        <%= @story.likes %> people like this story.
      <% end %>
    </div>
  </div>
  
  <div>
    <% if user_signed_in? %>
      <%= form_for @new_comment, :url => "/story/comment" do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :comment_on_table, :value => "stories", :class => "hidden_table_field" %>
        <%= f.hidden_field :comment_on_id, :value => @story.id.to_s, :class => "hidden_id_field" %>
        <%= f.text_area :content, :class => "story_show_comment_text_area" %>
        <br/>
        <%= f.submit "Comment", :id => "submit_comment_button", :class => "btn btn-primary" %>
        <a class="hide" id="alternate_cancel_reply_link" href="">Cancel Reply</a>
      <% end %>
    <% end %>
  </div>
  <% unless @important_comment.nil? %>
    <div id="story_show_important_comment" class="span6 border1">
      <div class="comment border1">
        <div>
        <% user = @important_comment.user %>
        <% if user.show_name %>
          <%= user.name %>:
        <% else %>
          <%= user.username %>:
        <% end %>
        </div>
        <div>
        <%= @important_comment.content %>
        </div>
        <div class="reply_link">
          <% if signed_in? %>
            <%= link_to "Reply", "javascript:replyToComment(#{@important_comment.id},#{@story.id},-1);", :class => "reply_to_" + @important_comment.id.to_s %>
          <% end %>
        </div>
        <% unless @important_comment.replies.nil? %>
          <% @important_comment.replies.each { |reply| %>
            <div class="reply border1">
              <% user = reply.user %>
              <div>
                <% if user.show_name %>
                  <%= user.name %>:
                <% else %>
                  <%= user.username %>:
                <% end %>
              </div>
              <div>
                <%= reply.content %>
              </div>
              <div class="reply_link">
                <% if signed_in? %>
                  <%= link_to "Reply", "javascript:replyToComment(#{@important_comment.id},#{@story.id},#{reply.id});", :class => "reply_to_" + reply.id.to_s %>
                <% end %>
              </div>
            </div>
          <% } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id="story_show_comments" class="span6 border1">
    <% if !@comments.nil? && @comments.size > 0 %>
      <% @comments.each { |comment| %>
        <% if @important_comment.nil? || comment.id != @important_comment.id %>
          <div class="comment border1">
            <div>
            <% user = comment.user %>
            <% if user.show_name %>
              <%= user.name %>:
            <% else %>
              <%= user.username %>:
            <% end %>
            </div>
            <div>
            <%= comment.content %>
            </div>
            <div class="reply_link">
              <% if signed_in? %>
                <%= link_to "Reply", "javascript:replyToComment(#{comment.id},#{@story.id},-1);", :class => "reply_to_" + comment.id.to_s %>
              <% end %>
            </div>
            <% unless comment.replies.nil? %>
              <% comment.replies.each { |reply| %>
                <div class="reply border1">
                  <% user = reply.user %>
                  <div>
                    <% if user.show_name %>
                      <%= user.name %>:
                    <% else %>
                      <%= user.username %>:
                    <% end %>
                  </div>
                  <div>
                    <%= reply.content %>
                  </div>
                  <div class="reply_link">
                    <% if signed_in? %>
                      <%= link_to "Reply", "javascript:replyToComment(#{comment.id},#{@story.id},#{reply.id});", :class => "reply_to_" + reply.id.to_s %>
                    <% end %>
                  </div>
                </div>
              <% } %>
            <% end %>
          </div>
        <% end %>
      <% } %>
    <% else %>
      <p class="large_gray_text">
        There are no comments on this story yet.<br/>Submit your own comment above!
      </p>
    <% end %>
  </div>
</div>
  
<div id="story_show_related" class="span3">
  <%= link_to "Submit a related story", new_story_path + "?from=" + @story.id.to_s, :class => "btn btn-success" %>
  <table id="stories_related_by_age" class="border1">
    <thead>
      <th class="border1">
        Stories with a similar age group:
      </th>
    </thead>
    <% @story.related_by_age.each { |related| %>
      <tr>
        <td class="border1">
          <%= link_to related.title, story_path(related) %>
        </td>
      </tr>
    <% } %>
  </table>
  <br/>
  <table id="stories_related_by_topic" class="border1">
    <thead>
      <th class="border1">
        Stories with a similar topic:
      </th>
    </thead>
    <% @story.related_by_topic.each { |related| %>
      <tr>
        <td class="border1">
          <%= link_to related.title, story_path(related) %>
        </td>
      </tr>
    <% } %>
  </table>
  <br/>
  <table id="stories_related_by_author" class="border1">
    <thead>
      <th class="border1">
        Other stories by this author:
      </th>
    </thead>
    <% @story.related_by_author.each { |related| %>
      <tr>
        <td class="border1">
          <%= link_to related.title, story_path(related) %>
        </td>
      </tr>
    <% } %>
  </table>
</div>
