<table>
  <tr>
    <td id="header_logo">
      <%= link_to image_tag("rails.png"), "/" %>
    </td>
    <td id="header_search_bar">
      Search bar?
    </td>
    <td id="header_customer_profile_info">
      <% if signed_in? %>
        Signed in as <%= link_to current_user.email, user_path(current_user) %>, <br/>
        Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %><br/>
        Don't have an account? '<%= link_to "Sign up here", new_user_registration_path %>
      <% end %>
    </td>
  </tr>
</table>