<!DOCTYPE html>
<title>Moral Story <%= @title.nil? ? "" : "| " + @title %></title>
<html>
  <head>
    <%= stylesheet_link_tag "bootstrap_and_overrides" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <%= stylesheet_link_tag :application %>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= javascript_include_tag "javascripts/rails" %>
    <%= javascript_include_tag "javascripts/bootstrap-carousel" %>
    <%= javascript_include_tag "javascripts/bootstrap-collapse" %>
    <%= javascript_include_tag "javascripts/bootstrap-modal" %>
    <%= javascript_include_tag "javascripts/bootstrap-tabs" %>
    <%= javascript_include_tag "javascripts/bootstrap-tooltip" %>
    <%= javascript_include_tag "javascripts/bootstrap-transition" %>
    
    <%= csrf_meta_tags %>
    
    <%= yield :head %>
  </head>
  <body id="application_background">
    <div id="application_page" class="container span12">
      <div id="application_header">
        <%= render "layouts/header" %>
      </div>
      <div id="application_content">      
        <%= yield %>
      </div>
    </div>
  </body>
</html>
