<!DOCTYPE html>
<title>Moral Story <%= @title.nil? ? "" : "| " + @title %></title>
<html>
  <head>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "rails" %>
    
    <%= csrf_meta_tags %>
  </head>
  <body id="application_background">
    <div id="application_header">
      <%= render "layouts/header" %>
    </div>
    <div id="application_content">      
      <%= yield %>
    </div>
  </body>
</html>
